<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>ala</title>
</head>
<body>

<ul id="menu">
    {% for entity in entities %}
        <li>
            <a href="{{ path('song_show', { 'id': entity.id }) }}">
                {{ entity }}
            </a>
        </li>
    {% endfor %}
</ul>

</body>
</html>