<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>ala</title>
</head>
<body>

<div id="tresc">
    <h2>{{ entity }}</h2>
    <p>
        {{ entity.contents|nl2br }}
    </p>

    <p><a href="{{ path('homepage') }}">powrót</a>

</div>

</body>
</html>